[Unit]
Description=JEESAN DDoS Demon v8.0 - Untamed Hellfire
After=network.target tor.service
Wants=tor.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/jeesan.py
Restart=always
RestartSec=5
User=root
StandardOutput=null
StandardError=syslog
SyslogIdentifier=jeesan

[Install]
WantedBy=multi-user.target
